<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help page</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="tijelo">
        <div class="main-content">
            {{>header}}
            Za sve informacije pišite na email: <a href="mailto:""as_ko_1991@hotmail.com">as_ko_1991@hotmail.com</a>
            <p> Portfolio radova i projekata možete pronaći na mojoj <a href="https://github.com/azemavdic">GitHub
                    stranici.</a></p>
        </div>

        {{>footer}}
    </div>
</body>

</html>